<p>{{depoistoOuSaque() ? "Depósito" : "Saque"}} </p>
<form [formGroup]="formConta" (ngSubmit)="enviar()">
  <div class="mb-3">
    <label for="Agencia" class="form-label">Agencia</label>
    <input readonly type="text" class="form-control" id="agencia" formControlName ="agencia">
  </div>
  <div class="mb-3">
    <label for="numero" class="form-label">Número</label>
    <input readonly type="text" class="form-control" id="numero" formControlName ="numero">
  </div>
  <div class="mb-3">
    <label for="saldo" class="form-label">Saldo</label>
    <input readonly type="number" class="form-control" id="saldo" formControlName ="saldo">
  </div>
  <div class="mb-3">
    <label for="valor" class="form-label">Valor</label>
    <input type="number" class="form-control" id="valor" formControlName ="valor">
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
